:root {
  --color-primary: #1f306e;
  --color-primary-accent: #553772;
  --color-secondary: #c7417b;
  --color-secondary-accent: #c7417b;
  --color-middle: #8f3b76;

  --color-ligth-gray: #e3e3e3;
  --color-gray: #d7ead2;

  --white: #fff;
  --primary-font: 'Bree Serif', serif;
  --secondary-font: 'Alegreya', serif;
}

html {
  scroll-behavior: smooth;
}

*, body {
  font-size: 16px;
  font-family: var(--primary-font);
  font-weight: 400;
  box-sizing: border-box;
}

figure img {
  width: 100%;
}

.mr-1 {
  margin-right: 1rem;
}

.ml-1 {
  margin-left: 1rem;
}

.title {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 2.5rem;
}

.subtitle {
  font-size: 1.25rem;
  font-weight: 300;
  font-family: var(--secondary-font);
}

.btn {
  z-index: 1;
  position: relative;
  padding: 10px 40px;
  background-color: var(--white);
  border-radius: 20px;
  outline: none;
  border: none;
  box-shadow: -1px 1px 3px 3px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  color: var(--color-secondary-accent);
}

.btn:hover::after, .btn-call::after {
  content: url('../images/dog-paw.svg');
  display: block;
  width: .75em;
  height: .75em;
  position: absolute;
  top: 3px;
  right: 8px;
}

.float-btn {
  font-weight: bold;
  position: fixed;
  top: 20px;
  right: 20px;
}

.btn-accent {
  background-color: var(--color-primary-accent);
  color: var(--white);
}

.btn-whatsapp {
  display: block;
  margin: 0 auto;
}

/**
 * ================
 *  Hero
 * ================
 * */

.hero {
  height: 100vh;
  background-image: linear-gradient(
    to bottom right,
    var(--color-primary-accent),
    var(--color-middle),
    var(--color-secondary-accent)
  );
}

.hero-header {
  display: flex;
  height: 96px;
}

.hero-logo {
  flex-grow: 1;
  margin: 25px 0 25px 37px;
}

.hero-action {
  flex-grow: 3;
  margin: 20px 20px 0 0;
  text-align: end;
}

.hero-text {
  width: 75%;
  margin: auto;
  height: calc(100% - 96px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-banner {
  margin: 5rem 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.hero-banner figure {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  transform: rotateZ(0deg);
  transition: 0.3s ease-in-out transform;
}

.hero-banner figure:first-child {
  width: 8rem;
}

.hero-banner figure:hover {
  transition: 0.3s ease-in-out transform;
  transform: rotateZ(30deg);
}

.hero-buttons {
  display: flex;
  margin-top: 1.25rem;
}

.hero .title, .hero .subtitle {
  color: var(--white);
  text-align: center;
}


/**
 * ===========
 *  Footer
 * ===========
 * */

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: var(--color-middle);
  padding: 1.5rem 5rem;
}

.location {
  color: white;
  font-family: var(--secondary-font);
  line-height: 1.4rem;
  margin-top: 3em;
}

.mapouter {
  position:relative;
  text-align:right;
  height: 280px;
  width: 280px;
  border-radius: 1rem;
}

.gmap_canvas {
  overflow:hidden;
  background:none!important;
  height: 280px;
  width: 280px;
  border-radius: 1rem;
}

